<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">
                    <eui-icon-svg icon="minus-circle:fill" fillColor="danger" size="xl"/>
                </span>
                <h1 class="mb-4 lead" tabindex="-1">not authorized</h1>
                <a aria-describedby="pageNotFoundId" href="#" class="btn btn-link" (click)="navigateBackHome($event)" id="messageToFocusId">go back home</a>
            </div>
        </div>
    </div>
</div>
