@if(treeItemsToDisplay && configTreeItems) {
  <div euiInputGroup>
    <div euiInputGroupAddOn>
      <div euiInputGroupAddOnItem>
        <eui-icon-svg icon="eui-search" />
      </div>
      <input euiInputText [formControl]="searchTreeInputControl" euiClearable [placeholder]="configTreeItems.searchPlaceHolder"/>

      @if (!isExpandedAll) {
        <button euiButton euiSecondary euiOutline (click)="expandAll()">
          <eui-icon-svg icon="eui-level-down" class="eui-u-ml-s" />
        </button>
      }
      @if (isExpandedAll) {
        <button euiButton euiSecondary euiOutline (click)="collapseAll()">
          <eui-icon-svg icon="eui-level-up" class="eui-u-ml-s" />
        </button>
      }
    </div>
  </div>
  <eui-tree #treeInstance
    isSingleSelect
    highlightPath
    isRecursiveSelection
    [showLines]="showLines"
    [nodes]="treeItemsToDisplay"
  (selectionChange)="treeItemClick($event)" />
}
