@for (cardsPerRow of cardsRows; track cardsPerRow) {
  <div class="row m-top-3">
    @for (card of cardsPerRow; track card) {
      <div class="col-{{12/cardsPerRow.length}}">
        <eui-card [euiPrimary]="card.campaign"
          [euiSuccess]="!card.campaign">
          <eui-card-header>
            <eui-card-header-title euiTooltip="{{card.name}}">
              @if (card.campaign) {
                <eui-icon-svg size="m" icon="ecl-list:ecl" fillColor="grey-100" />
              } @else {
                <eui-icon-svg size="m" icon="ecl-file:ecl" fillColor="grey-100" />
              }
              &nbsp;
                    <span [style]="{
                        'font-weight': configCarousel()?.carouselDesign.cardsDesign.titleFontWeight,
                        'color': configCarousel()?.carouselDesign.cardsDesign.titleTextColor,
                    }">
              {{card.name}}</span>
            </eui-card-header-title>
          </eui-card-header>
          <eui-card-content style="height: 8rem;">
            <!-- Deadline and Status Row -->
            <div class="row align-items-center">
              <div class="col-6">
                {{card.deadline}}
              </div>
              <div class="col-6 d-flex justify-content-end align-items-center">
                @switch (card.status) {
                  @case ("FUTURE") {
                    <eui-badge euiSecondary euiOutline euiSizeM>{{card.status}}</eui-badge>
                  }
                  @case ("OPEN") {
                    <eui-badge euiSuccess euiSizeM>{{card.status}}</eui-badge>
                  }
                  @case ("UPCOMING") {
                    <eui-badge euiWarning euiSizeM>{{card.status}}</eui-badge>
                  }
                }
              </div>
            </div>
            <div class="row align-items-center m-top-3">
              <div class="col-6">
                <span>{{card.type}}</span>
              </div>
            </div>
          </eui-card-content>
          <eui-card-footer>
            <eui-card-footer-action-buttons style="height: 3rem;">
              <div class="row m-top-4 col-12">
                <div class="col-8">
                  <button euiButton class="eui-u-mr-s eui-u-mb-s" euiSuccess (click)="openObligationDetail(card)">Open</button>
                </div>
              </div>
            </eui-card-footer-action-buttons>
          </eui-card-footer>
        </eui-card>
      </div>
    }
  </div>
}

