<app-layout-template-left-center [configLeftColumn]="configLeftColumn()" (customToolTip)="customToolTip($event)">
    <left-content>
        <eplatform-layout-content-left-tree [template]="templateLeftContent()" [configTree]="configLeftContent()"></eplatform-layout-content-left-tree>
    </left-content>
    <center-content>
        <eplatform-layout-content-center-any [configLayout]="configRightContent()" [template]="templateRightContent()"></eplatform-layout-content-center-any>
    </center-content>
</app-layout-template-left-center>
