.content {
    background: #004494;
}

h1 {
    color: #fff;
    padding: 0px 15px 0px 15px;
    margin-bottom: 0px;
}

p {
    color: #fff;
    padding: 0 15px 5px 15px;
}

hr {
    border-color: gray !important;
}
