<eui-app>
    <eui-app-header>
        <eui-header>
            <eui-header-logo/>
            @if(showEnvironmentInfo) {
                <eui-header-environment>{{systemDetailsInfo?.environment}}</eui-header-environment>
            }
            <eui-header-app appName="POLICY REPORTING PLATFORM" />
            <eui-header-user-profile [hasWelcomeLabel]="false">
                <eui-user-profile-menu>
                    <eui-user-profile-menu-item (click)="logout()">
                        <eui-icon-svg icon="old-eui-person-thin"></eui-icon-svg>Log out
                    </eui-user-profile-menu-item>
                </eui-user-profile-menu>
            </eui-header-user-profile>
        </eui-header>
    </eui-app-header>
</eui-app>
