<eui-app>
    <eui-app-toolbar>
        <eui-toolbar>
            <eui-toolbar-logo/>
            <eui-toolbar-app appName="appName"/>
            <eui-toolbar-environment>MOCK</eui-toolbar-environment>

            <eui-toolbar-items>
                <eui-toolbar-item>
                    <eui-user-profile isShowAvatarInitials>
                        <eui-user-profile-menu>
                            <eui-user-profile-menu-item>
                                <eui-icon-svg icon="user:regular"/>{{ 'eui.my-profile-informations' | translate }}
                            </eui-user-profile-menu-item>
                            <eui-user-profile-menu-item>
                                <eui-icon-svg icon="sign-out:regular"/>{{ 'eui.sign-out' | translate }}
                            </eui-user-profile-menu-item>
                        </eui-user-profile-menu>
                    </eui-user-profile>
                </eui-toolbar-item>

                <eui-toolbar-item>
                    <eui-notifications [count]="notificationItems.length" [items]="notificationItems" />
                </eui-toolbar-item>
            </eui-toolbar-items>

            <eui-language-selector/>
        </eui-toolbar>
    </eui-app-toolbar>
    <eui-app-sidebar>
        <eui-app-sidebar-body>
            <eui-app-sidebar-menu [items]="sidebarItems"/>
        </eui-app-sidebar-body>
    </eui-app-sidebar>
</eui-app>
