<eui-app>
    <eui-app-header>
        <eui-header>
            <eui-header-logo/>
            @if(showEnvironmentInfo) {
                <eui-header-environment>{{systemDetailsInfo?.environment}}</eui-header-environment>
            }
            <eui-header-app appName="POLICY REPORTING PLATFORM" />
            <eui-header-user-profile [hasWelcomeLabel]="false">
                <eui-user-profile-menu>
                    <eui-user-profile-menu-item (click)="logout()">
                        <eui-icon-svg icon="old-eui-person-thin" />Log out
                    </eui-user-profile-menu-item>
                </eui-user-profile-menu>
            </eui-header-user-profile>
        </eui-header>
    </eui-app-header>

    <eui-app-toolbar>
        <eui-toolbar>
            <eui-toolbar-items>
                <eui-toolbar-item class="pe-4">
                    <eui-icon-svg icon="eui-settings" fillColor="white" class="eui-u-mr-m" euiTooltip="Settings" (click)="goToSettings()" />
                </eui-toolbar-item>
                <eui-toolbar-item class="pe-4">
                    <eui-icon-svg icon="eui-sign-out" fillColor="white" class="eui-u-mr-m" euiTooltip="Logout" (click)="logout()" />
                </eui-toolbar-item>
            </eui-toolbar-items>
        </eui-toolbar>
    </eui-app-toolbar>

    <eui-app-footer>
        <eui-footer class="footer-list">
            <ul>
                <li class="hand-pointer-on-hover"><a (click) = "showPrivacyStatement()"> Data Privacy Statement </a></li>
                <li>Version <strong class="footer-item-color">{{systemDetailsInfo?.version}}</strong></li>
                <li><span class="footer-item-color">{{systemDetailsInfo?.deployDateTime}}</span></li>
            </ul>
        </eui-footer>
    </eui-app-footer>
</eui-app>
