<div class="row">
  <div class="col-1 carousel-arrows"><eui-icon-svg icon="eui-caret-left" size="2xl"
                                                                              [fillColor]="isFirstItemActive
     ? 'grey-75' : 'primary-100'" (click)="goPrevious()" /></div>
  <div class="col-10" [@slide]="animationState" (@slide.done)="animationDone($event)">
    @for (carouselCardsForShowing of carouselChildren; track carouselCardsForShowing; let i = $index) {
      @if (i=== currentActiveIndex) {
        <ng-container *ngTemplateOutlet="template();context:{config: configCarousel(), data: carouselCardsForShowing}" />
      }
    }
  </div>
    <div class="col-1 carousel-arrows"><eui-icon-svg icon="eui-caret-right" size="2xl" [fillColor]="isLastItemActive
     ? 'grey-75' : 'primary-100'" (click)="goNext()" /></div>
</div>

<div class="row m-top-3" [style.background]="rgbaPaginator()">

  <div class="col-1"></div>
  <div class="col-10 carousel-footer">
    @if(!paginationMode) {
      @for (carouselChild of carouselChildren; track carouselChild; let i = $index) {
        <span (click)="setActive(i)" class="carousel-footer-bullets">
          @if (i=== currentActiveIndex) {
            <eui-icon-svg icon="eui-circle-fill" fillColor="primary" class="hand-pointer-on-hover" />
          } @else {
            <eui-icon-svg icon="eui-circle" fillColor="neutral" class="hand-pointer-on-hover" />
          }
        </span>
      }
    }
    @else() {
    <eui-paginator #paginator
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      [page]="0"
      [length]="carouselLength"
      [hasPageNumberNavigation]="true"
      [nbPageNumberNavigation]="5"
      (pageChange)="setActive($event.page, true)" />
  }
</div>
<div class="col-1"></div>

</div>

