<eui-page>
  @if (templateHeader()) {
    <eui-page-header class="home_page_header">
      <eui-page-header-sub-label>
        <ng-container *ngTemplateOutlet="templateHeader()" />
      </eui-page-header-sub-label>
    </eui-page-header>
  }
  <eui-page-content>
    <eui-page-columns>
      <eui-page-column euiResizable
                       [style.background]="backgroundLeftColumn()"
                       [label]="configLeftColumn().columnLabel"
                       [euiSizeVariant]="configLeftColumn().size"
                       [isCollapsible]="configLeftColumn().isCollapsible"
                       (collapse)="onCollapse()">
        <eui-page-column-body>
          <ng-content select="left-content" />
        </eui-page-column-body>
      </eui-page-column>
      <eui-page-column>
        <eui-page-column-body>
          <ng-content select="center-content" />
        </eui-page-column-body>
      </eui-page-column>
    </eui-page-columns>
  </eui-page-content>
</eui-page>
